<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
            </div>
            <!-- /input-group -->
        </li>
        <li id="categories" ng-click="toggleCategory()">
            <a href="">Categories</a>
        </li>
        <ul id="subcategories" ng-show="showCategories">
            <li ng-repeat="category in categories">
                <a id="categoryName" ng-click="changeCategory(category)">{{category.name}}</a>
            </li>
        </ul>
        <li id="showMakes" ng-click="toggleMake()">
            <a href="">Make</a>
        </li>
        <ul id="makes" ng-show="showMakes">
            <li>
                <select ng-model="select.make" name="make" id="make-select">
                    <option ng-repeat="make in makes" value="{{make}}">
                        {{make.make}}
                    </option>
                </select>
                <button ng-click="selectMake()">Select</button>
            </li>
            <li id="models">
                <select ng-model="select.model" name="model" id="model">
                    <option ng-repeat="model in models" value="{{model}}">{{model}}</option>
                </select>
                <button ng-click="selectModel()">Select</button>
            </li>
        </ul>
        <li id="showYear" ng-click="toggleYear()">
            <a href="">Year</a>
        </li>
        <ul ng-show="showYear">
            <li>
                <label for="yearMin">Minimum</label>
                <input type="text" ng-model="year.min">
                <label for="yearMax">Maximum</label>
                <input type="text" ng-model="year.max">
            </li>
        </ul>
        <li>
            <p>Color</p>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->
</nav>
