<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="sidebar-search">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
            </div>
            <!-- /input-group -->
        </li>
        <li id="categories" ng-click="toggle()">
            <a href="">Categories</a>
        </li>
        <ul id="subcategories" ng-show="showCategories">
            <li ng-repeat="category in categories">
                <a id="categoryName" ng-click="changeCategory(category.name)">{{category.name}}</a>
            </li>
        </ul>
        <li>
            <p>Make</p>
        </li>
        <li>
            <p>Year</p>
            <input type="range" min="1900" max="2016">
        </li>
        <li>
            <p>Color</p>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->
</nav>
