<section>
    <div>
        <div class="row">
            <div class="col-xs-5">
                <h3>Order Summary: {{order.status}}</h3>
                <h4>Date submitted: {{order.date | date}}</h4>
                <h4 ng-show="messageExists()">{{message}}</h4>
            </div>
            <div class="col-xs-7">
                <!-- user buttons -->
                <button ng-click="purchaseCart()" ng-show="!isAdmin() && isCart()">Purchase Cart</button>
                <button ng-click="deleteCart()" ng-show="!isAdmin() && isCart()">Delete Cart</button>
                <button ng-click="cancelOrder(order._id)" ng-show="!isAdmin() && isProcessing()">Cancel Order</button>
                <!-- admin buttons -->
                <button ng-click="deleteCart()" ng-if="isAdmin()" ng-show="isCart()">Delete Cart</button>
                <button ng-click="completeOrder(order._id)" ng-if="isAdmin()" ng-show="isProcessing()">Complete Order</button>
                <button ng-click="cancelOrder(order._id)" ng-if="isAdmin()" ng-show="isProcessing()">Cancel Order</button>
            </div>
        </div>
        <div class="row">
            <div class="row" ng-repeat="car in car">
                <div class="col-xs-3">
                    <img class="img-responsive" ng-src="{{car.photos[0]}}" alt="">
                </div>
                <div class="col-xs-3">
                        <h5>{{car.year}} {{car.model}}</h5>
                        <ul>
                            <li>Color: {{car.color}}</li>
                            <li>Condition: {{car.condition}}</li>
                            <li>Mileage: {{car.mileage}}</li>
                            <li>Horsepower: {{car.horsePower}}</li>
                            <li>Acceleration: {{car.acceleration}}</li>
                            <li>Kickass Factor: {{car.kickassFactor}}</li>
                            <!-- <li>Categories: {{car.categories}}</li> -->
                        </ul>
                </div>
                <div class="col-xs-3">
                    <h5>Price</h5>
                    <h6>{{car.price | currency}}</h6>
                </div>
                <div class="col-xs-3">
                    <a ng-click="removeFromCart(car._id)" class="bt btn-default" ng-show="isCart()">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <h5>Subtotal</h5>
                </div>
                <div class"col-xs-3">
                    <h6>{{subtotal | currency}}</h6>
                </div>
            </div>
        </div>

        </div>
    </div>
</section>
