navbar {

  display: block;
  background: black;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  fullstack-logo {
    margin-top: -10px;
    margin-right: 100px;
    margin-bottom: -10px;
    width: 40px;
    font-size: 20px;
    font-family: Copperplate;
    color: #696060
  }

  a {
    color: #CC0E10;
    font-size: 24px;
    font-family: Century Gothic, sans-serif;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#CC0E10, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: none;
    margin-top: 10px;
    color: #CC0E10;
    background: none;
    outline: none !important;
    font-family: Century Gothic, sans-serif;
    &:hover {
     color: #0D8686;
    }
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}
