* {
  box-sizing: border-box;
}

body {
  background: url(http://static1.squarespace.com/static/52f32f69e4b0b5c2c646e433/t/52f4468ee4b045fae90ee8ae/1391740561985/Bugatti.jpg) no-repeat center center fixed;
  opacity: 0.8;
  background-size: cover;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
